<div class="idea media">
  <%= link_to idea do %>
    <%= image_tag idea.picture, alt: idea.name, class: 'mr-3 img-thumbnail' %>
  <% end %>
  <div class="media-body">
    <h4><%= idea.name %></h4>
    <p><%= idea.description %></p>
    <div class="btn-toolbar">
      <div class="btn-group mr-2">
        <%= link_to 'Show', idea, class: 'btn btn-light' %>
      </div>
      <div class="btn-group mr-2">
        <%= link_to 'Edit', edit_idea_path(idea), class: 'btn btn-light' %>
      </div>
      <div class="btn-group mr-2">
        <%= link_to 'Destroy', idea, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
</div>
